<h4>{{leyenda}}</h4>

<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="cambiarValor(-5)" type="button">
            <i class="mdi mdi-minus"></i>
        </button>
    </span>

    <input #txtPorcentaje type="number" class="form-control" min="1" max="100" name="porcentaje" [(ngModel)]="porcentaje" (ngModelChange)="onChanges($event)" class="form-control">

    <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="cambiarValor(+5)" type="button">
            <i class="mdi mdi-plus"></i>
        </button>
    </span>
</div>