<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <app-graphics-doughnut [leyenda]="graphics.graphics1.leyenda" [doughnutChartLabels]="graphics.graphics1.labels" [doughnutChartData]="graphics.graphics1.data" [doughnutChartType]="graphics.graphics1.type"></app-graphics-doughnut>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <app-graphics-doughnut [leyenda]="graphics.graphics2.leyenda" [doughnutChartLabels]="graphics.graphics2.labels" [doughnutChartData]="graphics.graphics2.data" [doughnutChartType]="graphics.graphics2.type"></app-graphics-doughnut>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <app-graphics-doughnut [leyenda]="graphics.graphics3.leyenda" [doughnutChartLabels]="graphics.graphics3.labels" [doughnutChartData]="graphics.graphics3.data" [doughnutChartType]="graphics.graphics3.type"></app-graphics-doughnut>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <app-graphics-doughnut [leyenda]="graphics.graphics4.leyenda" [doughnutChartLabels]="graphics.graphics4.labels" [doughnutChartData]="graphics.graphics4.data" [doughnutChartType]="graphics.graphics4.type"></app-graphics-doughnut>
            </div>
        </div>
    </div>
</div>