<div align="center" class="animated fadeIn">
    <div class="input-group col-lg-10">
        <input type="text" #input (keyup)="search( input.value)" class="form-control" placeholder="Search...">
        <!-- <span class="input-group-btn"> -->
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
             </button>
        <!-- </span> -->
    </div>
</div>
<br>
<div class="row animated fadeIn" *ngIf="loading">
    <div class="alert text-center col-lg-12">
        <strong>Cargando resultados...</strong>
        <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button [routerLink]="['/medic','new']" class="btn btn-primary btn-rounded waves-light waves-effect float-right"><i class="fa fa-plus"></i> Crear Médico</button>
                <h3 class="box box-header"><i class="fa fa-user-md"></i> Medicos Registrados (<small>{{total}}</small>)</h3>
                <hr>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Medico</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medic of medics">
                            <td><img [src]="medic.img | image:'medics'" class="img-50 img-circle pointer"></td>
                            <td>{{medic.name}}</td>
                            <td>{{medic.hospital.name}}</td>
                            <td>
                                <button [routerLink]="['/medic',medic._id]" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                <button (click)="delete(medic._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="float-right">
                    <button (click)="Since(-5)" class="btn btn-secondary"><i class="fa fa-backward"></i></button>
                    <button (click)="Since(5)" class="btn btn-secondary"><i class="fa fa-forward"></i></button>
                </div>

            </div>
        </div>
    </div>
</div>